<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        svg{
            width: 500px;
            height: 500px;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <center><h1>SVG ELLIPSE EXAMPLE</h1></center>
    <svg>
        <ellipse cx="100" cy="100" rx="100" ry="100" fill="yellow"></ellipse>
        <text x="40" y="100" fill="red">Welcome to SVG</text>
    </svg>
</body>
</html>